.jtAppHeader {
	position: fixed; top: 0; left: $sidebar-width; width: calc(100% - #{$sidebar-width}); height: 65px;
	display: flex; align-items: center; justify-content: space-between;
	background: #fff; padding: 15px 30px;
	> * {
		display: flex; align-items: center; text-align: center;
		&:first-child { text-align: left; }
		&:last-child { text-align: right; }
	}
	.jah-nav ul {
		display: flex; list-style: none; margin: 0; padding: 0;
		>li { display: inline-block; }
	}
}