.jtSideBar {
	position: fixed; height: 100vh; width: $sidebar-width; left: 0; top: 0;
	background: $color-darkblue; color: #cacbcc;
	.jsb-logo { height: 65px; padding: 15px 30px; display: flex; align-items: center; border-bottom: 1px solid #232d44; }
	.jsb-nav {
		font-size: 14px; margin-top: 40px;
		ul { display: block; margin: 0; padding: 0; list-style: none; }
		>ul>li>a:after { content: '\e908'; @include jtico; color: #495162; position: absolute; top: 50%; margin-top: -.5em; right: 40px; }
		li {
			margin-bottom: 25px;
			&.jsb-blue { color: $color-blue; }
			&.jsb-purple { color: $color-purple; }
			&.jsb-red { color: $color-red; }
			&.jsb-yellow { color: $color-yellow; }
			&.jsb-green { color: $color-green; }
			>a {
				padding: 15px 30px; text-decoration: none; display: block; cursor: pointer; position: relative;
				color: inherit;
				i { font-size: 20px; display: inline-block; vertical-align: middle; margin-right: 15px; }
				b { color: #495162; vertical-align: middle; }
				&:hover { background: #151f36; }
			}
			ul {
				overflow: hidden; transition: max-height cubic-bezier(0, 1, 0.5, 1) .3s; max-height: 0;
				color: #495162; padding: 0; background: #252e41;
				li {
					margin: 0;
					a { padding: 15px 30px 15px 63px; }
					&:hover,
					&.active {
						a { color: #d0d1d1; background: transparent; }
						a:after { display: none; }
					}
				}
			}
			&.active {
				>ul {
					max-height: 100vh; padding: 20px 0; visibility: visible; transition: max-height 0.3s ease-in;
				}
				>a {
					box-shadow: inset 3px 0 0; background: #151f36;
					&:after { content: '\e90b'; color: #d0d1d1; }
					b { color: #d0d1d1; }
				}
			}
		}
	}
}