.jtToggle {
  -webkit-appearance: none; background: none; border: none; box-shadow: none; padding: 0;
  vertical-align: middle; position: relative; cursor: pointer; display: inline-block; margin: 2px; border-radius: 20px !important;
  width: 65px; overflow: hidden; display: inline-block; transform: scale3d(1,1,1);
  .jtt-wrap {
    display: flex; align-items: center; width: 100px; height: 30px; position: relative; padding: 4px; pointer-events: none; user-select: none;
    color: #b2b2b2; background: #f1f1f1; left: -33px; transition: .2s ease all;
    >* { display: inline-block; vertical-align: middle; font-size: 11px; letter-spacing: .1em; text-align: center; text-transform: uppercase; width: 35px; flex-shrink: 0; flex-grow: 0; }
    span { opacity: .8; border-radius: 10px; background-color: #dedede; border: solid 1px #dedede; width: 20px; height: 20px; }
  }
  input[type=checkbox] {
    display: none;
    &:checked ~ .jtt-wrap {
      background: $color-blue; left: 0; color: #fff;
      span { background-color: #fff; border-color: #fff; }
    }
  }
  &:hover .jtt-wrap span { opacity: 1; }
  &.active .jtt-wrap,
  &:active .jtt-wrap { left: -20px !important; }
}