html,
body,
button,
input,
select,
textarea { font-family: inherit; }

html,
body { margin: 0; padding: 0; }

b, i { font-weight: inherit; font-style: inherit; }

html {
	font-family: $font-primary; line-height: 1.6; font-size: $font-size-base; color: #888888;
	background: #f1f1f1;
	@include box-sizing(border-box);
}

html * {
	@include box-sizing(border-box);
}