// #############################################################################
// global mixins
// #############################################################################
@mixin clearfix {
  clear:both;
	&:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
	// * html & { height: 1px } /* ie */
}

.clearfix { @include clearfix(); }

@mixin jtico { font-family: 'jt_icons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }


@mixin box-shadow($shadows...) { -moz-box-shadow: $shadows; -webkit-box-shadow: $shadows; box-shadow: $shadows; }
@mixin box-sizing($boxsizing) { -moz-box-sizing: $boxsizing; -webkit-box-sizing: $boxsizing; box-sizing: $boxsizing; }
@mixin linear-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
  // background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10
  // background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+
  background-image:         linear-gradient(to bottom, $fromColor 0%, $toColor 100%)
}
@mixin horizontal-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left center, right center, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
  // background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6
  background-image:     -ms-linear-gradient(left, $fromColor, $toColor); // IE10
  // background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+
  background-image:         linear-gradient(to right, $fromColor 0%, $toColor 100%)
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  // -moz-transition: $transitions;
  -ms-transition: $transitions;
  // -o-transition: $transitions;
  transition: $transitions;
}

@mixin rotate($rotate...) {
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  // -o-transform: rotate($rotate);
  transform: rotate($rotate);
}


::-webkit-scrollbar {  }
::-webkit-scrollbar-track {  }
::-webkit-scrollbar-thumb {  }
::-webkit-scrollbar-thumb:window-inactive {  }


@mixin placeholder {
  // &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}



@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    // @-o-keyframes $animation_name {
    //     @content;
    // }
 
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards;
 
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards;
 
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards;
}


