$color-blue: #8291f1;
$color-purple: #bc9afc;
$color-green: #76e09a;
$color-red: #d95f6e;
$color-yellow: #fdcc8e;
$color-orange: #fdcc8e;
$color-lightgray: #f1f1f1;
$color-white: #ffffff;
$color-darkblue: #1f283d;

$font-primary: Roboto, Arial, sans-serif;
$font-size-base: 14px;

$sidebar-width: 245px;